<!DOCTYPE html>
  <html>
  <head>

    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>All Deleted</title>

  </head>
  <body>

    <div class='container'>

      <div class="page-header">

        <h1>All Cars Deleted</h1>

      </div>
      <a href="/">Home</a><br>
      <a href="/car_search">Search for your new car</a><br>
      <a href="/list_car">List another car</a><br>


      <div>

      </div>

    </div>

    </body>
  </html>
