<!DOCTYPE html>
  <html>
  <head>

    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Your new car!</title>
    <style>




    </style>


  </head>
  <body>

    <div class='container'>

      <div class="page-header">

        <h1>Welcome to Joe Blows' dealership website</h1>

      </div>

      <div >

        <a href="/car_search" />Search for your new car!</a><br>

        <a href="/list_car" />Sell your old car!</a>


        <br><br><br><br><br><br><br><br><br><br>

        <a href="/delete_all" />delete</a><br>
        <a href='/all'>All</a>



      </div>

    </div>

    </body>
  </html>
